@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-image: url("../images/pen.jpg"); 
    background-repeat: no-repeat;
    
}

li, a, button {
    font-family:  "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: grey;
    text-decoration: none;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: white;
}

.fig{
    font-size: 4vw;
}
.logo {
    cursor: pointer;
    width: 7vw;

}

.nav {
    display: flex;
    width: 100%;
    padding: 10px;
    list-style: none;
    text-align: center;
    overflow: hidden;
    background-color: #D9D9D9;
    justify-content: flex-end;
}

.nav li {
    display: inline-flex;
    padding: 0px 20px;
    background-color: #D9D9D9;
    text-transform: uppercase;
}

.nav a {
    transition: all o.3s ease-in-out;
    background-color: #D9D9D9;
    color: white;
}

.nav li a:hover {
    color: #284B63;
    border-radius: 3px;
    
}

button{
    border: none;
    padding: 9px 25px;
    background-color: #D9D9D9;
    color: white;
    text-transform: uppercase;


}
button:hover{
    background-color: #284B63;
    border-radius: 4px;
}

ul {
    background-color: #D9D9D9;
}

h2{
    background-color: white;
    padding: 0%;
    text-align: left;
    
}
figcaption{
    background-color: white;
    font-size: 200%;
    align-self: center;
    padding-left: 20px;
    color: grey;
}
.log{
    background-color: white;
    display: flex;
}

@media screen and (max-width: 739px) {
    .sec1{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }  /* rules for small screens */
}
@media screen and (min-width: 740px) {
    .sec1{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 100px;
        margin-bottom: 130px;
        min-height: 40vh;
        
    } /* rules for large screens */
    
}


.sec1 div{
border: 1px #284B63 solid ;
padding: 10px;
margin: 20px;

}

.teach{
    
    background-color: #284B63;
    opacity: 0.6; 
    flex: 1;
    border-radius: 5px;
    
}

p{ 
    
    color: lightgray;
    font-size: 25px;
    text-align: center;
    text-indent: 10px;
    

}
h3{
    
    font-family: "Montserrat" sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
}


.h1 {
    float: left;
    padding: 20px;
    color: grey;
}


.log2{
    cursor: pointer;
    height: 100px;
    background-color: white;
}
.header2 {
    display: flex; 
    align-items: center;
    padding: 30px 10px;
    background-color: white;
}

.form1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.login-form{
    background-color: #284B63;
    opacity: 0.6;
    padding: 10px;
    margin-top: 100px;
    border-radius: 5px;
}
.form-input-material {
    --input-default-border-color: white;
    --input-border-bottom-color: white;
    
}
.btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

.form-input-material {
    margin: 12px 0;
    }

.btn {
        width: 100%;
        margin: 18px 0 9px 0;
    }

.form-control-material{
    display: flex;
}


@media screen and (min-width: 740px){
    /* rules for big screens */
    .sec2{
        background-color: white;
        height: 100vh;
    }

.founders{
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
.found1 img{
    margin-left: 15vw;
    
}

}
@media screen and (max-width: 739px) {
    .sec2{
        background-color: white;
        height: 200vh;
    }
    .founders{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
    }  
    
    .found1 img{
        margin-left: 18vw;

    }/* rules for small screens */

}

.bongo{
    flex: 1;
    width: 200px;
    border-radius: 50%;
    height:250px;
    
}
.found1{
    background-color: white;
    margin: 30px;
}

.sine{
    color: #284B63;
    text-transform:capitalize;
    text-align: center;
    padding: 20px;
}
.para2{
    flex: 1;
    color: #284B63;
    font-size: 20px;
}
.h11{
    text-align: center;
    color: #284B63 ;
    font-size: 30px;
    padding: 30px;
    margin: 30px;
    font-weight: bolder;
    font-family: "Montserrat" sans-serif;
}
