@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-image: url("../images/pen.jpg"); 
    background-repeat: no-repeat;
    
}

li, a, button {
    font-family:  "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: grey;
    text-decoration: none;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: white;
}

.fig{
    font-size: 4vw;
}
.logo {
    cursor: pointer;
    width: 7vw;

}

.nav {
    display: flex;
    width: 100%;
    padding: 10px;
    list-style: none;
    text-align: center;
    overflow: hidden;
    background-color: #D9D9D9;
    justify-content: flex-end;
}

.nav li {
    display: inline-flex;
    padding: 0px 20px;
    background-color: #D9D9D9;
    text-transform: uppercase;
}

.nav a {
    transition: all o.3s ease-in-out;
    background-color: #D9D9D9;
    color: white;
}

.nav li a:hover {
    color: #284B63;
    border-radius: 3px;
    
}

button{
    border: none;
    padding: 9px 25px;
    background-color: #D9D9D9;
    color: white;
    text-transform: uppercase;


}
button:hover{
    background-color: #284B63;
    border-radius: 4px;
}

ul {
    background-color: #D9D9D9;
}

h2{
    background-color: white;
    padding: 0%;
    text-align: left;
    
}
figcaption{
    background-color: white;
    font-size: 200%;
    align-self: center;
    padding-left: 20px;
    color: grey;
}
.log{
    background-color: white;
    display: flex;
}

@media screen and (max-width: 739px) {
    .sec1{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }  /* rules for small screens */
}
@media screen and (min-width: 740px) {
    .sec1{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 100px;
        margin-bottom: 130px;
        min-height: 40vh;
        
    } /* rules for large screens */
    
}


.sec1 div{
border: 1px #284B63 solid ;
padding: 10px;
margin: 20px;

}

.teach{
    
    background-color: #284B63;
    opacity: 0.6; 
    flex: 1;
    border-radius: 5px;
    
}

p{ 
    
    color: lightgray;
    font-size: 25px;
    text-align: center;
    text-indent: 10px;
    

}
h3{
    
    font-family: "Montserrat" sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
}


.h1 {
    float: left;
    padding: 20px;
    color: grey;
}


.log2{
    cursor: pointer;
    height: 100px;
    background-color: white;
}
.header2 {
    display: flex; 
    align-items: center;
    padding: 30px 10px;
    background-color: white;
}


@media screen and (min-width: 740px){
    /* rules for big screens */
    .sec2{
        background-color: white;
        height: 100vh;
    }

.founders{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
.bongo{
    width: 10vw;
    height: auto;
}

}
@media screen and (max-width: 739px) {
     /* rules for Small screens */
    .sec2{
        background-color: white;
        height: 130vh;
    }
    .founders{
        display:flex;
        justify-content: space-betwen;
        flex-direction: column;
        padding: 0%;
    }  
    
    .bongo{
        width: 300%;
        
    }
    
}


.sine{
    
    color: grey;
    text-transform:capitalize;
    text-align: left;
    padding: 20px;
}
.para2{
    text-align: left;
    color: grey;
    font-size: 20px;
    padding: 20px;
    
}
.h11{
    text-align: center;
    color: grey ;
    font-size: 30px;
    padding-top: 50px;
    font-size: 400%;
}
.found1{
    display: flex;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5px;
}
/* HORIZONTAL SCROLL */
.scroll-container{
    overflow: auto;
    white-space: nowrap;
    padding: 5px 70px 5px 20px;
    background: white;
    height: 400px;
    width: 100%;
    overflow: hidden;
    
}

.gridscroll{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.gridscroll img {
    margin-right:22px;
    height: 300px;
}

.team{
    display: inline;
    
    border-radius: 10px;
    margin: 10px;
}

.team1 {
border: #284B63;
border-radius: 100%;
width: auto;

}
.p1{
    padding: 40px;
    color: gray;
}
@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1500px, 0, 0); /* The image width */
    }
}
.scroll-container div {
    height: 400px;
    min-width: 300px;
    margin-left: 100px;
    animation: slide 25s linear infinite;
}